@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(223, 217, 217);
    box-sizing: border-box;
}

div {
    background-color: #1F2937;
}

p  {
    background-color: #1F2937;
}

h1 {
    background-color: #1F2937;
}

header {
    background-color: #1F2937;
}

a {
    background-color: #1F2937;
}

.body {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ratio_sizing {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    height: 80px;
    flex-grow: 1;
}

.item_header_left {
    display: flex;
    flex-grow: 1;
    margin-top: 6px;
}

.header_left_text {
    font-size: 24px;
    margin-left: 12%;
    font-weight: bolder;
    color: white;
}

.item_header_right {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    margin-right: 12%;
    gap: 22px;
    margin-top: 6px;
}

.link_style {
    text-decoration: none;
    font-size: 26px;
    color: aqua;
}

.header_title {
    text-align: center;
    margin-top: 0px;
    font-size: 80px;
    font-weight: bolder;
    padding-top: 12px;
    margin: 0px;
    padding-bottom: 12px;
    color: white;
}

.are_offer {
    display: flex;
    background-color: #1F2937;
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

.are_offer_text {
    text-align: center;
    background-color: #1F2937;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    margin-top: 12%;
    margin-bottom: 0%;
}

.right_text {
    text-align: right;
}

.homepage_main_sec {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    /*height: 600px; */
    width: auto;
}

.homepage_main_sec_left {
    flex-grow: 1;
    color: white;
    font-size: 18px;
    width: 390px;
    height: auto;
    
}

.homepage_main_sec_mid {
    display: flex;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.homepage_main_sec_big_text {
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: #1F2937;
    padding: 4px;
    line-height: 40px;
    margin-left: 17%;
}

.main_column {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.spacing_right {
    margin-bottom: 0px;
}

.spacing {
    padding-top: 140px;
}

.homepage_main_img {
    height: 350px;
    width: auto;
}

.service_features {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.serve_features_pic {
    margin-left: 25%;
    height: 220px;
    width: auto;
    background-color: #1F2937;
}

.serve_end {
    display: flex;
    align-items: flex-end;
}

.paws {
    background-color: #1F2937;
    height: 220px;
    width: auto;
    margin-left: 25%;
    margin-top: 0%;
}

.bot_pic {
    margin: 16px;
    margin-top: 0px;
    margin-right: 40px;
    text-align: center;
}

.bot_left {
    display: flex;
    flex-direction: column;
    margin: 16px;
    margin-top: 90px;
    margin-right: 55px;
    margin-left: 60px;
    font-size: 30px;
    font-weight: lighter;
    color: #E5E7EB;
}

.bot_left_text {
    text-align: right;
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0px;
}

.sect3 {
    display: flex;
    padding: 5%;
    padding-bottom: 8%;
    padding-left: 6%;
    padding-right: 6%;
    background-color: #1F2937;
    justify-content: center;
}

.sect3blue {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    padding: 8px;
    border-radius: 6px;
    margin-top: 35px;
    flex-wrap: wrap;
}

.sect3text {
    display: flex;
    background-color: #3882F6;
    flex-direction: column;
}

.text {
    color: #E5E7EB;
    font-size: 22px;
    background-color: #3882F6;
    text-align: left;
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 0px;
}

.textv2 {
    margin-top: 22px;
    padding-bottom: 0px;
    font-weight: bold;
    margin-bottom: 0px;
}

.sect3button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #3882F6;
    margin-right: 50px;
}

.ctaButton {
    background-color: #3882F6;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    color: #F9FAF8;
    border: 2px solid #E5E7EB;
}

.aboutpic {
    height: 500px;
    width: auto;
    border-style: solid;
    text-align: center;
}

hr {
        border: 1px solid white;
        background-color: #1F2937;
        margin: 0px;
}

.footer {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    color: white;
}

.footer_text {
    flex-grow: 1;
    margin: 5%;
}

.footer_text_to_right {
    text-align: right;
}

li {
    padding-left:1em;
    color:#f00; /* red bullet */
}
li span {
    display:block;
    margin-left:-0.5em;
    color:#000; /* black text */
}

@media screen and (max-width: 600px){
    * {
        background: red;
    }
}

@media screen and (max-width: 644px){
    .header {
        flex-wrap: wrap-reverse;
    }

    .header_left_text {
        justify-content: center;
        margin: auto;
    }

    .header {
        text-align: center;
    }

    .item_header_right {
        justify-content: center;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 975px){
    .sect3button {
        margin-right: 0px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .sect3text {
        justify-content: center;
    }
}

@media screen and (max-width: 683px){
    .homepage_main_img {
        height: 250px;
        width: auto;
    }
}

@media screen and (max-width: 493px){
    .homepage_main_img {
        height: 175px;
        width: auto;
    }
}

@media screen and (max-width: 1196px){
    .homepage_main_sec_big_text {
        margin: auto;
        text-align: center;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 555px){
    .aboutpic {
        height: 300px;
        width: auto;
    }

    .homepage_main_sec {
        justify-content: center;
    }

    .bot_pic {
        margin: 16px;
    }
    
}

@media screen and (max-width: 502px){
    .header_title {
        font-size: 65px;
    }
}

@media screen and (max-width: 396px){
    .header_title {
        font-size: 55px;
    }
}

@media screen and (max-width: 532px){
    .bot_left {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px){
    .bot_left {
        font-size: 21px;
    }
}