@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(223, 217, 217);
}

div {
    background-color: #1F2937;
}

p  {
    background-color: #1F2937;
}

h1 {
    background-color: #1F2937;
}

header {
    background-color: #1F2937;
}

a {
    background-color: #1F2937;
}

.body {
    margin-left: 308px;
    margin-right: 308px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*.for_picture {
    background-image: url("pictures/272012883_130260829503033_4650474038357763886_n\ \(1\).jpg");
    height: 186px;
    width: 1304px; 
    background-image: url("https://unsplash.it/1304/186/?blur"); 
} */

.header {
    display: flex;
    height: 80px;
    flex-grow: 1;
}

.item_header_left {
    display: flex;
    flex-grow: 1;
    margin-top: 6px;
}

.header_left_text {
    font-size: 24px;
    margin-left: 64px;
    font-weight: bolder;
}

.item_header_right {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    margin-right: 64px;
    gap: 12px;
    margin-top: 6px;
}

.link_style {
    text-decoration: none;
    font-size: 26px;
    color: aqua;
}

.header_title {
    text-align: center;
    margin-top: 0px;
    font-size: 80px;
    font-weight: bolder;
    padding-top: 12px;
    margin: 0px;
    padding-bottom: 18px;
    color: white;
}

.homepage_main_sec {
    display: flex;
    background-color: #1F2937;
    height: 600px;
    width: auto;
}

.homepage_main_sec_left {
    flex-grow: 1;
    color: white;
    font-size: 18px;
    
}

.homepage_main_sec_mid {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.homepage_main_sec_right {
    flex-grow: 1;
}

.homepage_main_sec_big_text {
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: #1F2937;
}

.homepage_main_img {
    height: 350px;
    width: auto;
    margin-top: 16px;
} 


.footer {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
}

.footer_text {
    flex-grow: 1;
}

.footer_text_to_right {
    text-align: right;
}